@model IEnumerable<Pharmacy.Models.Entities.Rating>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Drug
            </th>
            <th>
                Employee
            </th>
            <th>
                Pharmacy
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@for (int i = 0; i < Model.Count(); i++) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.ToList()[i].Drug.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.ToList()[i].Employee.FirstName) @Html.DisplayFor(modelItem => Model.ToList()[i].Employee.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.ToList()[i].Pharmacy.Name)
            </td>
            <td id=@string.Concat("Score",i)>
                @Html.DisplayFor(modelItem => Model.ToList()[i].Score)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@Model.ToList()[i].Id">Edit</a> |
                <a id=@string.Concat("Details",i) asp-action="Details" asp-route-id="@Model.ToList()[i].Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@Model.ToList()[i].Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
