@model IEnumerable<Pharmacy.Models.DTO.AppointmentDTO>

@{
    ViewData["Title"] = "Past Appointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Past Appointments</h1>
<table class="sortable table">
    <thead>
        <tr>
            <th>
                Medical Expert
            </th>
            <th>
                User
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="AppUsers" asp-action="Details" asp-route-id="@item.MedicalExpertID">
                        @Html.DisplayFor(modelItem => item.MedicalExpertNameAndSurname)
                    </a>
                </td>
                <td>
                    <a asp-controller="AppUsers" asp-action="Details" asp-route-id="@item.PatientID">
                        @Html.DisplayFor(modelItem => item.PatientNameAndSurname)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Report)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.AppointmentId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
