@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@using Microsoft.AspNetCore.Identity
@using Pharmacy.Models.Entities.Users
@model IEnumerable<Pharmacy.Models.Entities.Pharmacy>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@if ((await AuthorizationService.AuthorizeAsync(User, null, "AdminPolicy")).Succeeded)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>

}

<form asp-controller="Pharmacies" asp-action="LoggedInIndex" class="form-inline">

    <div class="form-group mb-2">
        <label for="searchString" class="sr-only">Search:</label>
        <input type="text" id="searchString" name="searchString" class="form-control" />
    </div>
    <div class="form-group mb-2">
        <label for="filter" class="sr-only">Filter</label>
        <select name="filter" id="filter" style="background-color: transparent;">
            <option value="Name" class="option">Name</option>
            <option value="AverageScore" class="option">Rating</option>
            <option value="Address" class="option">Address</option>
        </select>
    </div>
    <div class="form-group mb-2">
        <label for="sort">Sort:</label>
        <select name="sort" id="sort" style="background-color: transparent;">
            <option value="Name" class="option">Name</option>
            <option value="AverageScore" class="option">Rating</option>
            <option value="Address" class="option">Address</option>
        </select>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <button type="submit" class="btn btn-primary">Filter</button>
    </div>
</form>

<table class="sortable table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageScore)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Address
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.AverageScore
                </td>
                <td>
                    @if ((string)ViewData["PharmacyId"] == item.AdminUserID)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }

                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>|

                    @if ((await AuthorizationService.AuthorizeAsync(User, null, "AdminPolicy")).Succeeded)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    @if ((await AuthorizationService.AuthorizeAsync(User, null, "UserPolicy")).Succeeded)
                    {
                        <a asp-action="Subscribe" asp-route-id="@item.Id">Subscribe</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
