@model IEnumerable<Pharmacy.Models.Entities.SaleItems>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BeforePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++) { 
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.ToList()[i].BeforePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.ToList()[i].EndTime)
                </td>
                <td>
                    <a id=@string.Concat("Edit",i) asp-action="Edit" asp-route-id="@Model.ToList()[i].Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@Model.ToList()[i].Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@Model.ToList()[i].Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
