@model IEnumerable<Pharmacy.Models.Entities.Order>

@{
    ViewData["Title"] = "Past Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Past Orders</h1>
<table class="sortable table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfTransaction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionComplete)
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.ToList()[i].Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.ToList()[i].Cost)
                </td>
                <td id=@string.Concat("TransactionTime",i)>
                    @Html.DisplayFor(modelItem => Model.ToList()[i].TimeOfTransaction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.ToList()[i].TransactionComplete)
                </td>
                <td>
                    <a id=@string.Concat("Details",i) asp-action="Details" asp-route-id="@Model.ToList()[i].Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
